<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div data-role="main" class="ui-content">
                <div class="bs-component" style="width: 100%; margin: 0px auto;">
                    <div class="row" style="margin: 0px auto;">
                        <div class="col-md-10 col-md-offset-1">
                            <h2 style="text-align: center">Kills</h2>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>System</th>
                                        <th>Player Kills</th>
                                        <th>NPC Kills</th>
                                        <th>NPC Delta</th>
                                        <th>Mining System</th>
                                        <th>Index</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each huntInfo}}
                                    <tr>
                                        <td>{{this.SystemName}}</td>
                                        <td>{{this.PlayerDeath}}</td>
                                        <td>{{this.NpcDeath}}</td>
                                        <td>{{this.NpcDelta}}</td>
                                        <td>{{this.MiningSystem}}</td>
                                        <td>{{this.Index}}</td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
